<form [formGroup]="mediaForm" (ngSubmit)="uploadFile()">
  <input type="file" (change)="readyImage($event)" /> <br />
  <button type="submit">SUBMIT</button>
</form>

<img *ngIf="imageUrl" [src]="imageUrl" />