<ng-container *ngIf="posts$ | async as posts">
  <div class="posts-container">
    <div *ngFor="let post of posts" class="post">
      <img [src]="post._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url" />
      <h2>{{ post.title.rendered }}</h2>
      <div [innerHTML]="post.content.rendered"></div>
    </div>
  </div>
</ng-container>