.posts-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .post {
        flex: 1 1 calc(33% - 16px);
        max-width: calc(33% - 16px);
        margin-right: 16px;
    }
}